html, body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: #fff;
    position: relative;
}
body {
    line-height: 1.3;
}
* {
    box-sizing: border-box;
}


button {
    display: block;
    background-color: transparent;
    width: 100%;
    font-size: inherit;
    border: none;
    cursor: pointer;
    outline: none;
    padding: .4em;
    color: #555;

    &:hover,
    &:focus {
        background-color: rgba(0,0,0,.15);
    }

    &:active {
        background-color: rgba(0,0,0,.2);
    }
}

input {
    font-family: inherit;
    display: block;
    width: 100%;
    font-size: 1em;
    border: 1px solid #aaa;
    padding: .3em;
}

textarea {
    font-family: inherit;
    display: block;
    width: 100%;
    font-size: 1em;
    border: none;
    background-color: transparent;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding: 0 15px;
}

.tmr-list {
    &:empty + button {
        display: none;
    }
    
    &__item {
        position: relative;
        background-color: #eee;
        margin-bottom: 15px;
        margin-top: 15px;
        overflow: hidden;

        &.active {
            background-color: #4d4;
        }

        &:hover  {
            background-color: #ddd;
        }

        &__timer {
            cursor: pointer;
            text-align: center;
            font-size: 3em;
            user-select: none;
            font-weight: 300;
        }

        &__notes {
            cursor: pointer;
            padding: .33em 1em;
            background-color: rgba(0,0,0,.05);
            outline: none;
            font-size: 1.25em;
            height: 2.162em;
            overflow: hidden;

            * {
                font-size: 1em !important;
            }

            &::first-line {
                font-size: 1.33em!important;
            }
        }

        &:hover &__menubtn {
            color: rgba(0,0,0,.25);
        } 

        &__menu {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }

        &__controls {
            position: absolute;
            background-color: rgba(240,240,240,.75);
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            font-size: 2.5em;
            transition: transform .2s ease-out;
            transform: translateX(100%);

            &__btngroup {
                height: 100%;
                display: flex;
                flex-direction: column;

                & > button {
                    flex: 1 1 auto;
                }
            }
            
            button {
                padding: 0 .75em;
            }
        }

        &__menubtn {
            font-size: 1.5em;
            color: rgba(0,0,0,.1);

            &:hover {
                background-color: transparent;
            }
        }

        &__menu:hover &__menubtn {
            display: none;
        }

        &:first-child &__controls__moveupbtn,
        &:last-child &__controls__movedownbtn {
            display: none;
        }

        &__menu:hover &__controls {
            transform: none;
        }

    } // .tmr-list__item

    &__addbtn {
        background-color: rgba(0,0,0,.1);
        font-size: 2.5rem;
        padding-top: .5em;
        padding-bottom: .5em;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}


.tmr-ac-popup {
    position: fixed;
    top:10vh;
    bottom: 10vh;    
    left: 25%;
    right: 25%;
    background-color: #fff;
    padding: 2em;
    border: solid 1px #444;

}
